body {
    background-image: url('Background.png');
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center center;
    background-color: #0044FF; 
    display: flex;
    justify-content: center;
    /* Align content towards the top */
    align-items: flex-start;
    /* Push content down from the very top edge */
    padding-top: 10vh;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden; 
}


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    z-index: 1; 
    position: relative;
}


.title-block {
    background-color: #F75990; 
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding: 35px 70px;
    margin-bottom: 200px; 
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
    text-align: center;
    transform: scale(1.2);
    transform-origin: center center;
}


.input-field {
    background-color: #F75990;
    color: black;
    border: none;
    padding: 15px 20px;
    width: 300px; 
    font-size: 18px;
    text-align: center;
    margin-bottom: 100px; 
    transform: scale(1.2);
    transform-origin: center center;
}


.input-field::placeholder {
    color: black;
    opacity: 1; 
}

.input-field:focus {
    outline: none; 
    caret-color: black; 
}

.action-btn {
    background-color: #F75990;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 15px; 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    transform: scale(1.2);
    transform-origin: center center;
}

#login-btn {
    width: 100px;
    margin-top: 75px; 
}

#help-btn {
    width: 80px; 
    margin-top: 20px;
}


#message {
    color: black; 
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}